@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center" style="margin-top:30px;">
    <img src="~/images/logo.png" class="rounded float-left" alt="...">
    <h1>Mongo Form</h1>
    <p class="lead">A simple ASP.NET MVC form that writes the object into MongoDB.</p>
    <p><a href="https://www.mongodb.com/" class="btn btn-primary btn-lg">Mongo</a></p>
</div>

<div class="row">
    
</div>